
.blog {
    background: url('../../assets/backgrounds/grey-dots.png');
}

.blogPosts {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    height: 50rem;
    a {
        text-decoration: none;
        color: white;
        padding: 3rem;
    }
    article:nth-of-type(2) {
        align-self: flex-end;
    }
}

.blogCard {
    width: 20%;
    height: 80%;
    display: flex;
}

.blueCard {
    background: $primary;
    flex-direction: column;
}

.greenCard {
    background: $secondary;
    flex-direction: column-reverse;
}