.formFlex {
    display: flex;
    box-shadow: 0.8rem 0.8rem 1rem 0rem #5e5e5e;
}

.formBlurb {
    font-weight: 300;
    line-height: 1.8;
    width: 30%;
    background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), $primary;
    color: white;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 70%;
    background: $primary;
    padding: 5rem;
    input, textarea {
        width: 100%;
        font-size: 1.4rem;
        background: $input;
        border: none;
        margin: 1rem 0;
        padding: 1rem 1.5rem;
        color: white;
        border-bottom: 0.2rem solid $primary;
        &::placeholder {
            color: $darkNeutral;
        }
        &::-moz-placeholder {
            opacity: 1;
        }
        &:focus {
            outline: none;
            border-bottom: 0.2rem solid $darkNeutral;
            background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), $primary; 
        }
    }
}

input[type=submit] {
    padding: 1rem 3rem;
    color: white;
    border: 0.2rem solid white;
    &:hover, :active {
        background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), $primary;
    }
}

@media (max-width: 940px) {
    .formFlex {
        flex-direction: column;
        margin-top: 2rem;
    }

    .formBlurb {
        width: 100%;
    }

    form {
        width: 100%;
    }
}

@media (max-width: 660px) {
    form {
        padding: 1rem; 
        input, text-area {
            margin: 0.5rem 0;
        }
    }

    .formBlurb {
        padding: 1.5rem;
        p {
            margin: 0;
        }
    }
}

@media (max-width: 400px) {
    .formBlurb {
        display: none;
    }

    form input[type=submit] {
        align-self: center;
    }
}