.projects {
    background: $background;
    article {
        margin: 4rem 0;
        display: flex;
        .projectContent {
            width: 50%;
        }
        .projectImage {
            width: 50%;
            background: $darkNeutral;
        }
    }
}

.left {
    flex-direction: row-reverse;
    .projectContent {
        margin-left: 2rem;
    }
    .projectImage {
        margin-right: 2rem;
    }
}
.right {
    .projectContent {
        margin-right: 2rem;
    }
    .projectImage {
        margin-left: 2rem;
    }
}

.projectLinks {
    display: flex;
    :first-child {
        margin-right: 1rem;
    }
}

.builtWith {
    font-size: 1.6rem;
    color: $primary;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    p {
        padding: 1rem;
        margin: 0.3rem;
        border: 0.1rem solid $primary;
        border-radius: 0.5rem;
    }
}