.projects {
    background: $background;
    article {
        margin: 12rem 0;
        display: flex;
        align-items: center;
        .projectContent {
            width: 50%;
            display: flex;
            flex-direction: column;
        }
        .projectImage {
            width: 50%;
            img {
                z-index: 8;
            }
        }
    }
}

.left {
    flex-direction: row-reverse;
    .projectContent {
        margin-left: 4rem;
    }
    .projectImage {
        margin-right: 4rem;
    }
}
.right {
    .projectContent {
        align-items: flex-end;
        text-align: right;
        margin-right: 4rem;
    }
    .projectImage {
        margin-left: 4rem;
    }
}

// .blueDots {
//     position: relative;
//     &::before {
//         content: url('../../assets/backgrounds/smallBlueDots.png');
//         position: absolute;
//         top: -100%;
//         left: 0;
//     }
// }

// .blueDots {
//     position: relative;
//     .dots {
//         background: url('../../assets/backgrounds/smallBlueDots.png');
//         width: 80rem;
//         height: 50rem;
//         position: absolute;
//         top: -40%;
//         // right: -40%;
//     }
// }

.projectLinks {
    display: flex;
    :first-child {
        margin-right: 1rem;
    }
}

.builtWith {
    font-size: 1.6rem;
    color: $primary;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    p {
        padding: 1rem;
        margin: 0.3rem;
        border: 0.1rem solid $primary;
        border-radius: 0.5rem;
    }
}

@media (max-width: 940px) {
    .projects article {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 6rem;
        .projectContent {
            width: 100%;
            text-align: center;
            h3 {
                width: 100%;
                text-align: center;
            }
        }
        .projectImage {
            margin-top: 2rem;
            width: 50%;
        }
    }

    .left {
        flex-direction: row-reverse;
        .projectContent {
            margin: 0;
        }
        .projectImage {
            margin: 0;
        }
    }
    .right {
        .projectContent {
            align-items: center;
            margin: 0;
        }
        .projectImage {
            margin:0;
        }
    }

    .projectLinks {
        width: 100%;
        justify-content: center;
    }

    .builtWith {
        justify-content: center;
    }
}

@media (max-width: 660px) {
    .projects {
        padding: 1rem 0.3rem;
        article {
            margin:4rem 0;
        }
    }
    
}

@media (max-width: 500px) {
    .projects article .projectImage {
        width: 80%;
    }

    .projects article:last-child {
        display: none;
    }
}

@media (max-width: 400px) {
    .projectLinks {
        flex-direction: column;
        align-items: center;
        .button {
            margin: 0.2rem 0;
        }
    }
}