
.skillsGrid {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    figure {
        margin: 2rem 2rem;
        width: calc(20% - 4rem);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        i {
            font-size: 6rem;
            color: $primary;
        }
        svg {
            width: 6rem;
            // filter: grayscale(100%);
            fill: $primary;
            // color: black;
        }
        figcaption {
            font-size: 2rem;
            text-align: center;
            color: $primary;
        }
    }
}

@media (max-width: 640px) {
    .skillsGrid figure {
        width: calc(33.33% - 4rem);
        &:last-child {
            display: none;
        }
    }
}

@media (max-width: 460px) {
    .skillsGrid figure {
        width: calc(50% - 4rem);
        &:last-child {
            display: block;
            text-align: center;
        }
    }
}