
h1 {
    margin: 0;
    padding: 0;
    font-size: 8rem;
    line-height: 1;
    text-transform: lowercase;
    text-shadow: 0.2rem 0.2rem 0.8rem #2c2c2c;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 5.5rem;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 4.5rem;
}

h4 {
    margin: 0;
    padding: 0;
}

.subheading {
    font-size: 1.4rem;
    color: $primary;
    text-transform: uppercase;
    
}

.lineWrapper {
    display: flex;
    align-items: center;
}

.line {
    width: 5rem;
    margin-right: 1rem;
    border-bottom: 0.3rem solid $secondary;
}

@media (max-width:500px) {
    h1 {
        font-size: 7rem;
    }

    h2 {
        font-size: 5rem;
        text-align: center;
    }
    h3 {
        font-size: 3.5rem;
    }
}
@media (max-width: 400px) {
    .lineWrapper {
        display: none;
    }
}