
h1 {
    margin: 0;
    padding: 0;
    font-size: 8rem;
    line-height: 1;
    text-transform: lowercase;
    text-shadow: 0.2rem 0.2rem 0.8rem #2c2c2c;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 5.5rem;
}

h3 {
    margin: 0;
    padding: 0;
}

h4 {
    margin: 0;
    padding: 0;
}

.subheading {
    font-size: 1.6rem;
    color: $primary;
    text-transform: uppercase;
    
}

.line {
    width: 10rem;
    border-bottom: 0.2rem solid $secondary;
}