$primary: #181d81;
$input:#30348e;
$secondary: #36dba9;
$background: #f2f3f5;
$darkNeutral: #a7a7a7;
$textGrey: #858585;

html {
    font-size: 63.5%;
}

body {
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
    margin: 3rem;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 100rem;
    margin: 0 auto;
}

section {
    padding: 10rem 0;
}

p.logo {
    color: $secondary;
    font-weight: 700;
    font-size: 2.5rem;
    margin: 0;
    text-transform: lowercase;
}

.button {
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2rem;
    padding: 1rem;
    width: 20rem;
    border-radius: 3rem;
}

.greenButton {
    background: $secondary;
    color: black;
    border: 0.2rem solid $secondary;
    &:hover {
        background: none;
    }
}

.blueButton {
    background: white;
    color: $primary;
    border: 0.2rem solid $primary;
    &:hover {
        background: $primary;
        color: white;
    }
}

.hide {
    display: none;
}

@media (max-width: 1180px) {
    .wrapper {
        width: 80rem;
    }
}

@media (max-width: 940px) {
    body {
        margin: 1.5rem;
    }

    .wrapper {
        width: 60rem;
    }
}

@media (max-width: 690px) {
    .wrapper {
        width: 100%;
    }

    section {
        padding: 5rem 0;
    }
}

@media (max-width:460px) {
    section {
        padding: 2rem 0;
    }
}