$primary: #181d81;
$input:#30348e;
$secondary: #36dba9;
$background: #f2f3f5;
$darkNeutral: #a7a7a7;
$textGrey: #858585;

html {
    font-size: 63.5%;
}

body {
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
    margin: 3rem;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 110rem;
    margin: 0 auto;
}

section {
    padding: 6rem 0;
}

.button {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    padding: 1rem 6rem;
    border-radius: 3rem;
}

.greenButton {
    background: $secondary;
    color: black;
    border: 0.2rem solid $secondary;
    &:hover {
        background: none;
    }
}

.blueButton {
    background: white;
    color: $primary;
    border: 0.2rem solid $primary;
    &:hover {
        background: $primary;
        color: white;
    }
}

.builtWith img {
    width: 5%;
}